    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to My Project</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('profile', user_id=current_user.id) }}">Profile ({{ current_user.username }})</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('properties') }}">View Properties</a></li>

                </ul>
            </nav>
        </header>
        <main>
            <section class="hero">
                <div class="hero-content">
                    <h1>Welcome to My Project</h1>
                    <p>A platform to simplify your life.</p>
                    <a href="{{ url_for('register') }}" class="btn">Get Started</a>
                </div>
            </section>

            <section class="features">
                <div class="feature">
                    <i class="fas fa-users fa-3x"></i>
                    <h2>User Authentication</h2>
                    <p>Securely authenticate users and manage their accounts.</p>
                </div>
                <div class="feature">
                    <i class="fas fa-home fa-3x"></i>
                    <h2>Property Listings</h2>
                    <p>Explore a wide range of properties available for booking.</p>
                </div>
                <div class="feature">
                    <i class="fas fa-calendar-alt fa-3x"></i>
                    <h2>Booking Management</h2>
                    <p>Efficiently manage bookings, reservations, and schedules.</p>
                </div>
                <!-- Add more features here -->
            </section>



            <section class="about-us">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel eleifend tortor, id viverra ipsum. Vivamus tincidunt ligula id mauris ullamcorper, ac varius elit laoreet.</p>
            </section>
        </main>
        <footer>
            <p>&copy; 2024 My Project. All rights reserved.</p>
        </footer>
    </body>

    </html>
